<a [routerLink]="['/content',item.contentId]"
   routerLinkActive="active">Content Detail</a><br>

<div style="text-align:center">
    <h1>
        Welcome to <span [innerHtml]="title | safe"></span>!
    </h1>
<h2><strong>Rankings</strong></h2>

    <input #searchInput>: "searchInput" </input>
    <!--When they click the button it will say if the item exists or not-->
    <button (click)="clickEvent(searchInput)">Search</button>

    <!--Displays each content to the screen-->
    <span> {{ content.contentId }}</span>
    <span> {{ content.author }}</span>
    <span> {{ content.type }}</span>
    <span appTextDecoration="underline"> {{ content.title }}</span>
    <div [ngSwitch]='image'>
        <span *ngSwitchCase='"imageIsThere"'>{{ content.imageUrl }}</span>
        <span *ngSwitchDefault>"https://en.wikipedia.org/wiki/File:Smiley_Face.JPG"</span>
    </div>
    <span> {{ content.imageUrl }}</span>
    <span> {{ content.body }}</span>
    <span appTextDecoration="bold"> {{ content.tags }}</span>

    <!--Displays each content to the screen-->
<!--<span [innerHTML]="content.getItemIndex(0) | safe"></span>-->
<!--<span [innerHTML]="content.getItemIndex(1) | safe"></span>-->
<!--<span [innerHTML]="content.getItemIndex(2) | safe"></span>-->
<!--<span [innerHTML]="content.getItemIndex(3) | safe"></span>-->
<!--<span [innerHTML]="content.getItemIndex(4) | safe"></span>-->

</div>

